* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    text-align: center;
        background: radial-gradient(ellipse at center, rgb(64, 255, 77) 50%,  rgb(189, 9, 165) 100%);

}
.gameBox,
.gameBox * {
    
}

.centered {
    margin: 0 auto;
}

.gameBox{
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    background: chartreuse;
    display: block;
    
}
.logo {
    width: 100%;
    height: 7vh;

    padding-left: 7vh;
    padding-top: 0.5vh;
    font-size: 4vh;
    font-family: monospace;
    border-bottom: 2vh dotted greenyellow;
    font-weight: bold;
}
.screen {
    width: 80vh;
    height: 40vh;
    background: skyblue;
    color: seagreen;
    margin: 0 3vh 3vh 3vh;
    cursor: pointer;
    box-shadow: 0 0 2vh 2vh black;
}
.toiletpaper > * {
     display: inline-block;
     background: gray;
     left: 2vh;
    bottom: 2vh;
    width: 6vh;
    height: 6vh;
    border: 2vh solid white;
    border-radius: 50%;
    padding: .5vh 1vh ;
    margin-right: 2vh;
}
.toiletpaper:disabled{
    border: 2vh solid black;
}
.reset{
    top:1.5vh;
    left: 4vh;
    width: 7.5vh;
    height:4vh;
}
.shoot{
    right: 4vh;
    bottom:5;
    width: 7.5vh;
    height:4vh;
    
}
.button > * {
    position:absolute;
    cursor: pointer;
    border: 1vh double red;
    background: blueviolet;
    font-size: 2vh;
    font-family: monospace;
    font-weight: bold;
}
.button > *:active {
    transform: scale(0.9);
}